
.navigationBar{
    nav{
        background-color: grey;
        justify-content: center;
        padding: 0.5rem;
    }
    .nav__wrap{
        width: 80%;
        margin: auto;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
            a{
                padding: 0.5rem;
                color: white;
            }
            @media only screen and (max-width: 600px) {
              width: 100%;
              }
    }
}