@import "../../scss/variables/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.mainNav {
    position: relative;
    height: 5rem;
    background-color: white;
    color: $red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

  &__img {
    height: 4rem;
    padding-left: 2rem;
  }

  &__title {
    font-family: "Amatic SC", cursive;
    font-size: 4rem;
    color: $yellow;
    text-decoration: none;
    position: absolute;
    left: calc(50% - 83px);
    top: 0;
  }

  &__search {
    background-color: darkgrey;
    margin-right: 1rem;
    padding-right: 1rem;
    border: 2px solid darkgrey;
    border-radius: 30px;
    height: 1.8rem;
    outline: none;
    transition: 0.2s;
    text-indent: 1rem;
    color: white;
    &::placeholder {
      color: white;
    }

    &:hover {
      opacity: 0.75;
      height: 2.1rem;
    }
  }

  &__cartNum {
    padding-right: 2rem;
    padding-left: 0.5rem;
  }
  &__cartLink {
    text-decoration: none;
    color: inherit;
  }

  &__cartNum {
    padding-right: 2rem;
    padding-left: 0.5rem;
  }

  &__magnifyingGlass {
  }
}
