@import "../../scss/variables/variables";

.mainNav {
  position: relative;
  height: 5rem;
  background-color: white;
  color: $red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 2rem;
  @media screen and (max-width: $bp-large) {
    padding: 0 1rem;
  }

  &__img {
    height: 4rem;
  }

  &__title {
    @media screen and (max-width: $bp-large) {
      display: none;
    }
    font-family: "Amatic SC", cursive;
    font-size: 4rem;
    color: $yellow;
    text-decoration: none;
    position: absolute;
    left: calc(50% - 83px);
    top: 0;
  }

  &__Container {
    display: flex;
    flex-direction: row;
  }

  &__searchContainer {
    display: flex;
    margin-right: 1rem;
    padding-right: 0.5rem;
    height: 1.8rem;
    border-bottom: 1px solid $red;
  }

  &__search {
    border: none;
    outline: none;
    align-self: center;
    color: $red;
    width: 11rem;

    @media screen and (max-width: $bp-medium) {
      width: 8rem;
    }

    @media screen and (max-width: $bp-xsmall) {
      width: 5rem;
    }

    &::placeholder {
      opacity: 0.5;
      color: $red;
    }

    &:hover,
    &:focus {
      &::placeholder {
        opacity: 0.75;
      }
    }
  }

  &__magnifyingGlass {
    align-self: center;
    cursor: pointer;
  }

  &__cart {
    display: flex;
    height: 1.8rem;
    align-items: center;
  }

  &__cartLink {
    text-decoration: none;
    color: inherit;
  }

  &__cartNum {
    padding-left: 0.5rem;
  }
}
