@import "../../scss/variables/variables";

.mainNav {
  position: relative;
  height: 5rem;
  background-color: white;
  color: $red;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  &__img {
    height: 4rem;
    padding-left: 2rem;
  }

  &__title {
    font-family: "Amatic SC", cursive;
    font-size: 4rem;
    color: $yellow;
    text-decoration: none;
    position: absolute;
    left: calc(50% - 83px);
    top: 0;
  }

  &__Container {
    display: flex;
    flex-direction: row;
  }

  &__searchContainer {
    display: flex;
    background-color: darkgrey;
    margin-right: 1rem;
    padding-right: 1rem;
    border-radius: 30px;
    height: 1.8rem;
    transition: 0.2s;

    &:hover {
      opacity: 0.75;
      height: 2.1rem;
    }
  }

  &__search {
    background-color: darkgrey;
    border: none;
    text-indent: 1rem;
    outline: none;
    align-self: center;
    margin-left: 0.5rem;
    color: white;

    &::placeholder {
      color: white;
    }
  }

  &__magnifyingGlass {
    align-self: center;
  }

  // &__search {
  //   border: 2px solid darkgrey;
  //   border-radius: 30px;
  //   color: white;
  //   &::placeholder {
  //     color: white;
  //   }

  &__cart {
    display: flex;
    height: 1.8rem;
    align-items: center;
  }

  &__cartNum {
    padding-right: 2rem;
    padding-left: 0.5rem;
  }
  &__cartLink {
    text-decoration: none;
    color: inherit;
  }

  &__cartNum {
    padding-right: 2rem;
    padding-left: 0.5rem;
  }
}

.searchbar:hover > .txt {
  width: 100px;
  padding: 0 6px;
}
