@import "../../scss/variables/variables";

.productDetail {
  &__btn {
    text-decoration: none;
    display: inline-block;
    background-color: $yellow;
    padding: 0 1rem;
    color: white;
    height: 3rem;
    font-size: 1rem;
    border: none;
    margin: 2rem;
    line-height: 3rem;
    border-radius: 5px;
    &:hover {
      cursor: pointer;
      background-color: $green;
    }
  }
  &__arrow {
    padding-right: 4px;
  }

  &__text {
    margin: auto;
  }

  &__categoryName {
    text-transform: capitalize;
  }
}
