@import "../../scss/variables/variables";

.easter {
  background-color: #eff3fc;
  height: auto;
  padding-bottom: 2rem;

  &__heading {
    position: relative;
    padding-top: 4rem;
    font-size: 3rem;
    width: 50%;
    margin: auto;
    z-index: 2;
    text-transform: uppercase;

    @media screen and (max-width: $bp-large) {
      font-size: 1.5rem;
      width: 100%;
      margin: auto;
    }
  }
  &__image {
    position: absolute;
    height: 60vh;
    width: 100%;
    background-repeat: no-repeat;
    object-fit: contain;
    z-index: 1;
  }
  &__text {
    position: relative;
    padding-top: 4rem;
    font-size: 3rem;
    width: 50%;
    margin: auto;
    z-index: 2;
    @media screen and (max-width: $bp-large) {
      font-size: 2rem;
      width: 100%;
      margin: auto;
    }
  }

  &__letKnow {
    color: Red;
    @media screen and (max-width: $bp-large) {
      font-size: 1.5rem;
    }
  }
}
