@import "../../scss/variables/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.categoryNav {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  background-color: $red;
  height: 2rem;

  &__input {
    color: white;
    text-decoration: none;
    font-size: 0.8rem;
    text-transform: capitalize;
    width: 3rem;
    height: 2rem;
    padding-top: 0.5rem;
    align-items: center;
    
    &:hover {
      color: $green;
    }
  }
}
