.editblade__wrapp{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    background-color: ivory;
    &__form{
        background-color: white;
        box-shadow: 10px 10px 5px -2px #888;
        margin-top: 1rem;
        padding: 1rem;
        width: 60%;
        min-width: 60%;
        height: 90%;
        min-height: auto;
        margin: auto;
        border: 1px solid grey;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media only screen and (max-width: 768px) {
            /* For mobile phones: */
           
              width: 90%;
            
          }
        form{
            min-width: 60%;
        }
        &__name{
            font-weight: bold;
               &__image{
                   text-align: center;
                   padding-top: 0.5rem;
               }
        }
        div{
            padding: 0 0.5rem 0.5rem 0.5rem;
        }
        textarea{
            width: 100%;
        }
        input{
            width: 100%;
        }
        img{
            max-width: 40%;
            max-height: auto;
        }
        select{
            border: 1px;
            font-weight: bold;
            width: 30%;
            padding: 0.2rem;
            background-color: rgb(231, 219, 219);
            min-width: 30%;
            @media only screen and (max-width: 768px) {
                /* For mobile phones: */
               width: 45%;
              }
        }
        &--btns{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            div{
                width: 45%;  
            }
            &__btn1{
                background-color: rgb(245, 162, 7);
                border-radius: 4px;
                color: white; 
                width: 100%;
                padding: 0.5rem 1rem;
                &:hover{
                    color: rgb(7, 109, 7);
                    text-decoration: none;
                    padding: 0.5rem 1rem;
                }
            }
            &__btn2{
                background-color: rgb(32, 136, 32);
                border-radius: 4px;
                color: white; 
                padding: 0.5rem 1rem;
                width: 100%;
                &:hover{
                    color: rgb(245, 162, 7);
                    text-decoration: none;
                }
            }

          
        }
   
         
    }

}
