.productsWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    

        &__productCard{
            flex-basis:25%;
            margin: 1rem;
            max-height: 40%;
            height: 46vh;
            display: flex;
            flex-direction: column;
            text-align: center;
            overflow: hidden;
            position: relative;
            align-items: center;
            justify-content: space-between;
            @media only screen and (max-width: 768px) {
                /* For mobile phones: */
                flex-basis: 80%;
              }
            &__image{
                width: 13vh;
                max-width: 13vh;
                height: auto;
                max-height: 60%;
                
            }
        
            &__bottom{
                display: flex;
                flex-direction: row;
                
                width: 100%;
                padding: 1rem;
                justify-content: space-evenly;
           
                a{
                padding: 0.5rem 1rem;
                background-color: rgb(245, 162, 7);
                border-radius: 4px;
                color: white; 
                &:hover{
                    color: rgb(7, 109, 7);
                    text-decoration: none;
                }

            }
        }  
      }      
      
      
    
}
.items__pagination{
    width: 80%;
    margin: auto;
    padding: 0.5rem;
}