.productsWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;

        &__productCard{
            flex-basis:25%;
            margin: 1rem;
            max-height: 25%;
            height: 40vh;
            display: flex;
            flex-direction: column;
            text-align: center;
            overflow: hidden;
            
        }
        &__image{
            width: 15vh;
            max-width: 15vh;
            height: auto;
            max-height: 60%;
            align-self: center;
        }
        &__description{
            overflow: auto;
            height: 15vh;
            max-height: 20%;
        }
        &__discount{
            color: red;
            font-weight: bold;
        }
    
}