form{
    
    width: 80%;
    margin: auto;
    text-align: center;
    padding: 0.2rem;
    
}
input{
    color:grey;
    background-color: rgb(248, 238, 238);
    margin-bottom: 0.2rem;
    margin: 0.2rem;
}
.cardContainer{
    padding: 1rem;
}
.formbtn{
    padding: 0.3rem;
    
}