@import "../../../scss/variables/variables";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.recipe {
  position: relative;
  width: 48vw;
  height: 20rem;
  overflow: hidden;

  @media screen and (max-width: $bp-large) {
    margin: 1rem 0;
    width: 96vw;
  }

  &__container {
    width: 70%;
    padding-top: 3rem;
    height: 100%;
    padding-left: 2rem;
    color: white;

    @media screen and (max-width: $bp-large) {
      width: 90%;
    }
  }

  &__image {
    position: absolute;
    background-image: url(../../../img/recipe.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    z-index: -1;
    transition: 0.2s;

    &:after {
      content: "";
      position: absolute;
      transition: 0.2s;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#333333, 0.5);
    }
  }

  &:hover {
    cursor: pointer;
    .recipe__image {
      transform: scale(1.1);
      &:after {
        background-color: rgba(#333333, 0.4);
      }
    }
  }
}
