@import "../../scss/variables/variables";


* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.mainNav {
    height: 5rem;
    background-color: #cccccc;
    color: $red;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;

    &__img {
        height: 4rem;
        padding-right: 30vw;

    }



    &__search {
        background-color: darkgrey;
        margin-right: 1rem;
        padding-right: 1rem;
        border: 2px solid #cccccc;
        border-radius: 15px;
        height: 1.8rem;
        outline: none;
        text-indent: 1rem;
        color: white;
        &::placeholder {
            color: white;
        }

        &:hover{
            opacity: 0.75;
            height: 2.1rem;
        }
    }

    &__cartNum {
        padding-right: 2rem;
    }
}
