@import "../../../scss/variables/variables";

.about {
  position: relative;
  height: calc(100vh - 7rem);
  background-image: url(../../../img/main.jpg);
  background-size: cover;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  &:after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(black, 0.3);
  }

  &__text {
    position: relative;
    width: 50%;
    font-size: 1.7rem;
    text-align: center;
    color: $yellow;
    // background-color:rgba(grey, 0.7);
    z-index: 1;
  }

  &__scroll {
    position: absolute;
    left: calc(50% - 35px);
    z-index: 1;
    color: $yellow;
    font-size: 5rem;
    bottom: 1.5rem;

    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation: bounce 3.6s ease infinite;
    transform-origin: 50% 50%;

    @keyframes bounce {
      0% {
        transform: translateY(0);
      }
      5.55556% {
        transform: translateY(0);
      }
      11.11111% {
        transform: translateY(0);
      }
      22.22222% {
        transform: translateY(-15px);
      }
      27.77778% {
        transform: translateY(0);
      }
      33.33333% {
        transform: translateY(-15px);
      }
      44.44444% {
        transform: translateY(0);
      }
      100% {
        transform: translateY(0);
      }
    }
  }
}
