@import "../../../scss/variables/variables";


.about {

    position: relative;
    height: 100vh;
    background-color: $green;

    &__heading {
        font-size: 6rem;
        // position: absolute;
        padding-top: 5vh;
        width: 100vw;
        text-align: center;
        color: $yellow;
        z-index: 1;
        // background-color: black;
        margin: 0;
    }

    &__text {
        margin: 0;
        width: 50%;
        font-size: 1.5rem;
        // position: absolute;
        padding-top: 10rem;
        padding-left: 3rem;
        text-align: center;
        color: $yellow;
        // background-color: black;
    }

    &__mainImg {
        width: 50%;
        height: auto;
        padding-right: 2rem;
        border-radius: 320px 720px 750px 700px;

    }

    &__section {
        display: flex;
        flex-direction: row;
    }
}


