.carousel {
  width: 90%;
  margin: 0 auto;
  @media screen and (max-width: 1000px) {
    width: 80%;
  }

  &__header {
    padding-top: 3rem;
    padding-bottom: 3rem;
    margin: 0;
  }
}

.product-slider {
  position: relative;

  &__slider {
  }

  &__slide {
    padding: 0;
  }

  &__btn {
    border: none;
    background-color: transparent;
    font-size: 2rem;
    color: #555;
    position: absolute;
    top: 45%;

    @media screen and (min-width: 400px) {
      top: 20%;
    }

    &:hover {
      color: #000;
    }

    &--back {
      left: -2rem;
    }

    &--next {
      right: -2rem;
    }
  }
}

.test {
  //background-color: red;
  //min-height: 400px;
}
