@import '~bootstrap/scss/bootstrap';
//orders
@import '../views/orders/orders.scss';
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import '../views/layouts/layout.scss';
//navigation
@import '../views/partials/navigation.scss';
//items
@import '../views/items.scss';
//edit-create
@import '../views/edit.scss';
//show
@import '../views/show.scss';

.alertmesg__wrapp{
    margin: 0;
    padding: 0.5rem 1rem 0.5rem 5rem;
    background-color: rgb(101, 146, 54);
    &__inner{
        margin: auto;
        width: 80%;
        color: lemonchiffon;
    }
}
.error__wrapp{
    text-align: center;
    padding: 0.5rem;
    background-color: lemonchiffon;
    
}
    


