@import "../../scss/variables/variables";

.footer {
  background-color: grey;
  color: white;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-size: 0.9rem;
  margin-top: 4rem;

  &__flex {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    @media screen and (max-width: $bp-medium1) {
      flex-wrap: wrap;
    }
  }

  &__about {
    padding-top: 0;
    padding-bottom: 1rem;

    &__input {
      color: white;
      text-decoration: none;
      &:hover {
        color: $yellow;
      }
    }

    &__item {
      padding-bottom: 0.5rem;
    }
  }

  &__category {
    display: flex;
    flex-direction: column;
    text-transform: capitalize;
  }

  &__input {
    color: white;
    text-decoration: none;
    font-size: 0.9rem;
    padding-bottom: 0.25rem;

    &:hover {
      color: $yellow;
    }
  }

  &__socials {
    display: flex;
    flex-direction: row;
    height: max-content;
    @media screen and (max-width: $bp-medium1) {
      width: 100%;
      margin: 1rem 0;
      justify-content: center;
      order: 1;
    }
  }

  &__fb {
    font-size: 2.5rem;
    margin-right: 2rem;
    color: white;

    &:hover {
      color: #3b5998;
    }
  }

  &__insta {
    font-size: 2.5rem;
    color: white;
    &:hover {
      color: #dd2a7b;
    }
  }

  &__address {
    &__title {
      font-weight: bold;
      padding-bottom: 0.5rem;
    }
    &__text {
      padding: 0.25rem 0;
    }

    @media screen and (max-width: $bp-medium) {
      display: none;
    }
  }

  &__copyright {
    text-align: center;
  }
}
