@import "../../../scss/variables/variables";

.produts{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    margin: auto;
    justify-content: center;
    &__ProductCard{
        width: 30%;
        margin: 0.25rem;
        a{
            text-decoration: none;
            color: black;
        }
    }

    &__ProductsSection{
        text-align: center;
        width: 20%;
        margin: auto;
        margin-bottom: 2rem;
        padding-top: 3rem;
        padding-bottom: 5rem;
        }
    
    
    &__btn {
        background-color: $yellow;
        color: white;
        height: 3rem;
        transition: 0.2s;
        width: 100%;
        border: none;
        font-size: 1rem;
        border-radius: 10px;
    
        &:hover{
            background-color: $green;
            cursor: pointer;
        }
    }
}
