@import "../../../scss/variables/variables";

.products {
  width: 90%;
  margin: 0 auto;

  &__wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
  }

  &__ProductCard {
    //width: 22.5%;
  }

  &__ProductsSection {
    text-align: center;
    width: 20%;
    margin: auto;
    margin-bottom: 2rem;
    padding-top: 3rem;
    padding-bottom: 5rem;
  }

  &__btn {
    background-color: $yellow;
    color: white;
    height: 3rem;
    transition: 0.2s;
    width: 100%;
    border: none;
    font-size: 1rem;
    border-radius: 10px;

    &:hover {
      background-color: $green;
      cursor: pointer;
    }
  }
}
