.product-card {
  border-radius: 2%;
  flex: 30%;
  margin: 0.5rem;
  padding: 0.5rem;
  text-decoration: none;
  color: black;
  &__img {
    height: 250px;
    padding-left: 5vw;
    transition: 0.2s;
    &:hover {
      transform: scale(1.1);
    }
  }

  &__title {
    font-size: 1rem;
  }

  &__price {
    font-size: 0.8rem;
    padding-left: 50%;
  }
}
