@import "../../scss/variables/variables";

.cartItem {
  display: flex;
  flex-direction: row;
  border-top: 1px solid grey;
  margin: 1rem auto;
  width: 60%;
  align-items: center;

  &__img {
    height: 8rem;
    width: 8rem;
  }

  &__btn {
    background-color: white;
    color: $red;
    font-size: 2rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
    width: 2rem;
    border: none;
    cursor: pointer;
  }
  &__name {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
  }

  &__number {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    background-color: white;
    border-radius: 5px;
    border: 1px solid grey;
  }

  &__valueChangeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }

  &__valueChange {
    background-color: $yellow;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
  }

  &__container1 {
    display: flex;
    flex-direction: row;
    width: 60vw;
  }

  &__container2 {
    width: 10vw;
  }

  &__container3 {
    display: flex;
    flex-direction: row;
    width: 10vw;
  }

  &__container4 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: space-around;
    width: 10vw;
    padding-left: 0.5rem;
  }
}

.compact {
  .cartItem__btn {
    color: blue;
  }
}
