@import "../../scss/variables/variables";

.cartItem {
  display: flex;
  flex-direction: row;
  border-top: 1px solid grey;
  margin: 1rem auto;
  width: 60%;
  align-items: center;
  @media only screen and (max-width: 600px) {
    width: 90%;
    margin: 1rem auto 0 0.5rem;
    padding-top: 0.6rem;
    position: relative;
    padding-right: 0.5rem;
  }

  &__img {
    height: 8rem;
    width: 8rem;
    @media only screen and (max-width: 600px) {
      width: 4rem;
      height: auto;
    }
  }

  &__btn {
    background-color: white;
    color: $red;
    font-size: 2rem;
    padding-left: 2rem;
    margin-bottom: 1rem;
    width: 2rem;
    border: none;
    cursor: pointer;
    @media only screen and (max-width: 600px) {
      font-size: 2rem;
      position: absolute;
      top: 30%;
    }
  }
  &__name {
    font-size: 1.5rem;
    margin-bottom: 0.3rem;
    @media only screen and (max-width: 600px) {
      font-size: 0.8rem;
    }
  }

  &__number {
    width: 2.5rem;
    height: 2.5rem;
    margin-right: 0.5rem;
    background-color: white;
    border-radius: 5px;
    border: 1px solid grey;
    @media only screen and (max-width: 600px) {
      height: 2rem;
      width: 2rem;
    }
  }

  &__valueChangeContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
  }

  &__valueChange {
    background-color: $yellow;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 0.95rem;
    cursor: pointer;
  }

  &__container1 {
    display: flex;
    flex-direction: row;
    width: 60vw;
  }

  &__container2 {
    width: 10vw;
    @media only screen and (max-width: 600px) {
      width: 14vw;
    }
  }

  &__container3 {
    display: flex;
    flex-direction: row;
    width: 10vw;
  }

  &__container4 {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    justify-content: center;
    width: 10vw;
    padding-left: 0.5rem;
    @media only screen and (max-width: 600px) {
      margin-top: 1rem;
    }
  }
  &__text {
    @media only screen and (max-width: 600px) {
      display: none;
    }
    &__price {
      white-space: nowrap;
    }
  }
}

.compact {
  .cartItem__img {
    width: 3rem;
    height: 3rem;
  }

  .cartItem__name {
    padding-left: 0.5rem;
    font-size: 1.1rem;
    font-weight: normal;
  }

  .cartItem__container2 {
    display: block;
    text-align: center;
  }

  .cartItem__container3 {
    display: block;
    text-align: center;
    @media only screen and (max-width: 600px) {
      position: relative;
      left: 1.5rem;
    }
  }

  .cartItem__container4 {
    display: block;
    padding-top: 1rem;
    padding-left: 2.5rem;
  }
  .cartItem__container1 {
    @media only screen and (max-width: 600px) {
      padding-left: 1rem;
    }
  }
}
