@import "../../scss/variables/variables";


.cartItem {
    display: flex;
    flex-direction: row;
    border: 1px solid grey;
    margin: 2rem auto;
    width: 60%;

    &__img {
        height: 8rem;
        width: 8rem;
    }

    &__btn {
        background-color: white;
        color: $red;
        font-size: 2rem;
        border: none;
    }


&__text {
    padding-left: 2rem;
    flex-grow:2;
}

&__name {
    font-size: 1.5rem;
}

&__price {
    color: $green;
}

&__number {
    width: 5rem;
    height: 1.5rem;
}


}