.categoryPage {

    &__img {
        width: 100vw;
        height: 24rem;
        fit-content:(100%);

    }
    
    &__headline {
        text-align: center;
        font-size: 2rem;
    }

    &__products{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        width: 100%;
        margin: auto;
        justify-content: center;
        &--ProductCard{
            width: 30%;
            margin: 0.25rem;
            a{
                text-decoration: none;
                color: black;
            }
        }
    }

}
