@import "../../scss/variables/variables";

.thanksPage {
  padding-top: 10vh;
  color: black;
  text-align: center;
  width: 70%;
  margin: auto;

  &__info {
    text-align: left;
  }

  &__motto {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  &__btn {
    text-decoration: none;
    color: $yellow;
  }

  &__img {
    width: 70%;
    height: auto;
  }

     &__wrap {
       display: flex;
       justify-content: space-between;
       width: 100%;
       
       &__faIcon {
         &__home {
           position: relative;
           color: rgb(85, 182, 56);
           font-size: 4rem;
           flex: 1;
           color: blue;
        }
         &__truck {
           animation-name: truck;
           animation-duration: 5s;
           position: relative;
           transition: 1s;
           color: rgb(85, 182, 56);
           font-size: 4rem;
           animation-fill-mode: forwards;
           flex: 9;
           z-index: 1;
           color: gold;
           
         }
       }
     }
   }
   @keyframes truck {
     0% {
       transform: translateX(-30%);
       flex: 9;
    
     }
     100% {
       transform: translateX(55%);
       flex:3;
     }
   }

