@import "../../scss/variables/variables";

.thanksPage {
  padding-top: 10vh;
  color: black;
  text-align: center;
  width: 70%;
  margin: auto;

  &__info {
    text-align: left;
  }

  &__motto {
    padding-top: 5vh;
    padding-bottom: 5vh;
  }

  &__btn {
    text-decoration: none;
    color: $yellow;
  }

  &__img {
    width: 70%;
    height: auto;
  }

  //   &__wrap {
  //     display: flex;
  //     justify-content: space-between;
  //     width: 80%;
  //     margin: auto;
  //     &__faIcon {
  //       &__home {
  //         position: relative;
  //         color: rgb(85, 182, 56);
  //         font-size: 4rem;
  //         flex: 1;
  //       }
  //       &__truck {
  //         animation-name: truck;
  //         animation-duration: 6s;
  //         position: relative;
  //         transition: 1s;
  //         color: rgb(85, 182, 56);
  //         font-size: 4rem;
  //         animation-fill-mode: forwards;
  //         flex: 9;
  //         z-index: 1;
  //       }
  //     }
  //   }
  // }
  // @keyframes truck {
  //   0% {
  //     transform: translateX(0%);
  //   }
  //   100% {
  //     transform: translateX(40%);
  //   }
  // }
  // @keyframes home {
  //   0% {
  //     transform: translateX(0%);
  //   }
  //   100% {
  //     transform: translateX(70%);
  //   }
}
